<h1>ニュース</h1> 
  <div class="text"> 
 <h2><%= link_to("ニュースについてつぶやく" , "/articles/new") %></h2>
            <% @articles.each do |article| %>
              <div class="list">   
              <p>  <%= article.user.name%></p>
                <%= link_to(article.body, "/articles/#{article.id}/") %>
               </div>
                <% end %>
                </div>