<div class="pd"> 
投稿者 
<p> <%= @cook.user.name %>さん</p>
投稿内容 
<p><img src="<%= "/post_images/#{@cook.post_image}" %>" width="200" height="200"></p>
      <p> <%= @cook.body %> </p>
      <% if @cook.user_id == @current_user.id %>
      <%= link_to("削除", "/cooks/#{@cook.id}/destroy", {method: "cook"}) %>
      <% end %>
      </div>
