<h1>イベント一覧＆つぶやき</h1>
<div class="text">
    <h2><%= link_to("つぶやく＆投稿" , "/hobbies/new") %></h2>
            <% @hobbies.each do |hobby| %>
                <div class="list">
                <p> <%= hobby.user.name %></p>
                <p><%= link_to(hobby.body, "/hobbies/#{hobby.id}/") %></p>
                </div>
                <% end %>
                </div>   