body{
    background-color:white;
}
h1{
    padding-top: 50px;
} 
ul{
    display: table;
    }
    ul li{
    display: table-cell;
    }
    ul li a{
    display: block;
    color:black;
    padding: 10px;
    padding-left: 60px;
    text-decoration: none;
    font-weight: bold;
    }
    .sitename{
      text-decoration: none;
      color: black;
      font-size: 40px;
    }
    nav{
      background-color: rgb(255, 217, 0);
    }
