.pd{
  padding: 70px;
  font-size: 20px;
}
  .list {
    padding: 20px;
    box-shadow: 0 3px 7px #b8c4cc;
    font-size: 20px;
    width: 1000px;
    display: inline-block;
  }
  .text{
    text-align: center;
  }
  h1{
    pad: 50px;
  }
  .form-c{
    padding: 10px 10px;
  }
  .form{
    font-size: 20px;
    width: 500px;
    height: 350px;
   border: 1px solid #000;
   display: inline-block;
   padding-top: 50px;
  }
  h2{
    padding-top: 10px;
  }