<div class="text">
      <h1>編集する</h1>
      <%= form_tag("/cooks/#{@cook.id}/update", {multipart: true}) do %>
          <% @cook.errors.full_messages.each do |message| %>
              <%= message %>
          <% end %>
          <input name="image" type="file">
          <textarea name="body"><%= @cook.body %></textarea>
          <input type="submit" value="保存">
      </div>
    <% end %>